body{
    background: #232323;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#container{
    max-width: 600px;
    margin: 0 auto;
}
.square{
    width: 30%;
    margin: 1.66%;
    background: cornflowerblue;
    padding-top: 30%;
    float: left;
    transition: background-color .5s ease-out;
    border-radius: 15%;
}
h1{
    font-size: 2rem;
    margin: 0;
    text-align: center;
    padding: 20px 0;
    font-weight: normal;
    color: white;
    background: steelblue;
    text-transform: uppercase;
    line-height: 1.1;
}
#colorDisplay{
    display: block;
    font-size: 4rem;
}
#stripe{
    height: 30px;
    background: white;
    text-align: center;
    margin-bottom: 40px;
}
.active{
    background: steelblue;
    color: #fff;
}
#messageDisplay{
    width: 20%;
    font-size: 1.1em;
    color: steelblue;
    display: inline-block;
}
button{
    height: 100%;
    outline: none;
    background: white;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
    color: steelblue;
    font-size: 1.2em;
    transition: .4s;
}
button:hover{
    background: steelblue;
    color: white;
}